 *{
            padding: 0px;
            margin: 0px;
            background-color: #005461;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           }
           body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
           }
           .main{
            width: 300px;
            height: 500px;
            background-color: #0C7779;
            border: 2px solid #3BC1A8;
            border-radius: 5%;
            /* display: flex; */
            /* align-items: center;
            justify-content: center; */
           
           }
           .heading{
            background-color: transparent;
            color: whitesmoke;
            justify-content: center;
            font-size: 30px;
            text-align: center;
            margin-top: 10px;
           }
           #res{
            width: 200px;
            height: 200px;
            text-align: center;
            color: #3BC1A8;
            background-color: #249E94;
            border: 4px solid rgb(74, 234, 0);
            border-radius: 50%;
            justify-content: center;
            margin: auto;
            margin-top: 20px;
           }
           #value{
            background-color: transparent;
            color: black;
            text-align: center;
            font-size: 40px;
            margin-top: 40%;
        }
          .btn{
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            margin: 10px 20px;
          }
          .btnall{
            width: 100px;
            height: 30px;
            background-color: chartreuse;
            color: rgb(47, 46, 45);
            border: 2px solid black;
          }